#modal-confirm-danger.modal{ tabindex: -1 }
  .modal-dialog
    .modal-content
      .modal-header
        %h3.page-title= _('Confirmation required')
        %button.close{ type: "button", "data-dismiss": "modal", "aria-label" => _('Close') }
          %span{ "aria-hidden": true } &times;

      .modal-body
        %p.text-danger.js-confirm-text

        %p
          %span.js-warning-text= _('This action can lead to data loss. To prevent accidental actions we ask you to confirm your intention.')
          %br
          请输入
          %code.js-confirm-danger-match= phrase
          继续操作或关闭本对话框取消操作。

        .form-group
          = text_field_tag 'confirm_name_input', '', class: 'form-control js-confirm-danger-input'
        .form-actions
          = submit_tag _('Confirm'), class: "btn btn-danger js-confirm-danger-submit"
